/* Declaring where the Persian font is */

@font-face {
    font-family: IRANSansWeb_FaNum;
    font-style: normal;
    font-weight: normal;
    src: url('../font/eot/IRANSansWeb_FaNum.eot');
    src: url('../font/eot/IRANSansWeb_FaNum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../font/woff2/IRANSansWeb_FaNum.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../font/woff/IRANSansWeb_FaNum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../font/ttf/IRANSansWeb_FaNum.ttf') format('truetype');
}

/* Using the Persian font entire of project */

html, body {
    direction: rtl !important;
    font-family: 'IRANSansWeb_FaNum' !important;
}

/* Making some changes in bootstrap pagination */
.todo-pagination .pagination>li>a,
.todo-pagination .pagination>li>span {
    border: 1px solid #6c757d !important;
    color: #6c757d !important;
}

.pagination>li.active>a {
    background: #6c757d !important;
    color: #fff !important;
}